.selected-treeitem {
    -fx-font-weight: bold;
}

.file-viewer-container {
    -fx-border-width: 0 1px 1px 0;
    -fx-border-color: black;
}

.file-viewer-container-right {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: black;
}

.header-first {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: black;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.header {
    -fx-border-width: 0 0 1px 1px;
    -fx-border-color: black;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.thematic-axis {
    -fx-border-width: 0 1px 1px 0;
    -fx-border-color: black;
}

.thematic-axis-first {
    -fx-border-width: 1px 1px 1px 0;
    -fx-border-color: black;
}

.grid {
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-color: black;
}

.file-item:hover, .file-item-selected {
    -fx-background-color: #0093ff;
    -fx-background-radius: 3px;
}

.drop-under {
    -fx-border-color: #eea82f; -fx-border-width: 0 0 2 0; -fx-padding: 3 3 1 3;
}